*[hidden] { display: none; } p{text-align:center;
  
  
}
a{
  color:#2b9f1e;
  text-decoration:none;
}


h1{ text-align:center;font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;
  
  
}

h2{ text-align:center;
  
  
}

p {
      font-family:"Helvetica Neue", Arial, sans-serif;
      font-weight:100;
      -webkit-font-smoothing:antialiased;
}
