/*
    Document   : navbar.css
    Created on : 2015-05-26 05:27 PM
    Author     : Meleka246
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #7A991A;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #404751;
}
